<!--tornado/template/base.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="GotIT Manage Network Automatically" />
    <meta name="keywords" content="GotIT" />
    <meta name="author" content="GotIT Web Dev Team" />
    <link
      rel="shortcut icon"
      href="/static/icon/favicon.ico"
      type="image/x-icon"
    />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!--Base模板里的title标签，如果有传入替代标签就用替代的，没有就用默认的-->
    <title>{% block title %}Please checkout your page-title!{% end %}</title>
  </head>
  <body>
    <!--模板里的body标签，用于body标签代入替换-->
    {% block body %}
    <p>Set up you body-block first!</p>
    {% end %}
    <!--模板里的js标签，用于js标签代入替换-->
    {% block js %}{% end %}
    <!--模板里的css标签，用于css标签代入替换-->
    {% block css %}{% end %}
  </body>
</html>
